.container {
  width: 100%;
  display: flex;
}

.content {
  margin: 40px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.single-movie-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
}

.movie-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-year {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.go-back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  /* border: 1px solid black; */
  cursor: pointer;
}
